<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resultdata</key>
	<array>
		<dict>
			<key>xnotice_type</key>
			<string>sNews</string>
			<key>article_type</key>
			<string>sLink</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>通知哈哈</string>
			<key>xnotice_content_intro</key>
			<string>小明</string>
		</dict>
		<dict>
			<key>article_type</key>
			<string>sLinks</string>
			<key>xnotice_type</key>
			<string>sNotice</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>随便说点</string>
			<key>xnotice_content_intro</key>
			<string>小红</string>
		</dict>
		<dict>
			<key>article_type</key>
			<string>sLink</string>
			<key>xnotice_type</key>
			<string>sMedia</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>今日头条</string>
			<key>xnotice_content_intro</key>
			<string>小明</string>
		</dict>
		<dict>
			<key>article_type</key>
			<string>sLinks</string>
			<key>xnotice_type</key>
			<string>sNews</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>关闭时要被删除的行</string>
			<key>xnotice_content_intro</key>
			<string>小亮</string>
		</dict>
		<dict>
			<key>article_type</key>
			<string>sLink</string>
			<key>xnotice_type</key>
			<string>sCulture</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>关闭时要被删除的行</string>
			<key>xnotice_content_intro</key>
			<string>小红</string>
		</dict>
		<dict>
			<key>article_type</key>
			<string>sLinks</string>
			<key>xnotice_type</key>
			<string>sMedia</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>关闭时要被删除的行</string>
			<key>xnotice_content_intro</key>
			<string>小明</string>
		</dict>
		<dict>
			<key>article_type</key>
			<string>sLink</string>
			<key>xnotice_type</key>
			<string>sMedia</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>关闭时要被删除的行</string>
			<key>xnotice_content_intro</key>
			<string>小红</string>
		</dict>
		<dict>
			<key>article_type</key>
			<string>sLinks</string>
			<key>xnotice_type</key>
			<string>sTeach</string>
			<key>xnotice_date</key>
			<string>4月14日</string>
			<key>xnotice_title</key>
			<string>关闭时要被删除的行</string>
			<key>xnotice_content_intro</key>
			<string>小红</string>
		</dict>
	</array>
</dict>
</plist>
